[Pp]ackages/*
[Bb]in
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
obj/
u2.Umbraco/App_Plugins/
u2.Demo.Api/App_Data/*
.vs/*

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.[Pp]ublish.xml
*.testsettings