<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT block ANY>
<!ATTLIST block id ID #REQUIRED>
<!ELEMENT view ANY>
<!ATTLIST view id ID #REQUIRED>
<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
]>
<root id="-1">
  <site id="1062" key="f7a26462-de33-4f9e-ab23-0e20fa71b9a9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-10T00:07:05" updateDate="2017-12-05T00:03:30" nodeName="Site Au" urlName="site-au" path="-1,1062" isDoc="" nodeType="1061" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="site">
    <hosts><![CDATA[api.demo.au]]></hosts>
    <cacheName><![CDATA[AU]]></cacheName>
    <countryCode><![CDATA[AU]]></countryCode>
    <currencyCode><![CDATA[AUD]]></currencyCode>
    <view id="1067" key="85048d05-570e-4384-b491-2e20d1cc3ace" parentID="1062" level="2" creatorID="0" sortOrder="0" createDate="2017-11-15T22:53:11" updateDate="2017-11-16T23:27:15" nodeName="Product List View" urlName="product-list-view" path="-1,1062,1067" isDoc="" nodeType="1064" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="view">
      <blocks><![CDATA[umb://document/2481bb3b445648e681e8a89c5fd3b6b1,umb://document/3de1fb1ecfc54c4bb6822bfac491a081,umb://document/f565daf8bea64263872f7863b0c824e7]]></blocks>
      <title><![CDATA[Product List]]></title>
      <block id="1068" key="2481bb3b-4456-48e6-81e8-a89c5fd3b6b1" parentID="1067" level="3" creatorID="0" sortOrder="0" createDate="2017-11-15T22:53:59" updateDate="2017-11-15T22:55:21" nodeName="Menu Block" urlName="menu-block" path="-1,1062,1067,1068" isDoc="" nodeType="1066" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="block">
        <size><![CDATA[Small]]></size>
        <description><![CDATA[Top menu]]></description>
      </block>
      <block id="1069" key="3de1fb1e-cfc5-4c4b-b682-2bfac491a081" parentID="1067" level="3" creatorID="0" sortOrder="1" createDate="2017-11-15T22:54:47" updateDate="2017-11-22T21:24:18" nodeName="Carousel Block" urlName="carousel-block" path="-1,1062,1067,1069" isDoc="" nodeType="1066" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="block">
        <size><![CDATA[Medium]]></size>
        <description><![CDATA[Product carousel]]></description>
        <imageList><![CDATA[[{"key":"ae2df017-bc64-4d0c-8612-3e1414c3f98f","name":"Item 1","ncContentTypeAlias":"imageGrid","title":"Movie","backgroundColor":"grey","images":"umb://media/5721a3c8395a453a8bc0baa8e5780205,umb://media/b59de8f644084d129a65496200c01219"},{"key":"49706a5a-2d2d-4f55-8702-c41b553d6aa0","name":"Item 2","ncContentTypeAlias":"info","caption":"Caption - Movie","label":"Label - Movie poster","description":"Description - Movie description"}]]]></imageList>
        <images><![CDATA[umb://media/31901c5740c04ff1985177483b3a44fa,umb://media/b59de8f644084d129a65496200c01219,umb://media/5721a3c8395a453a8bc0baa8e5780205]]></images>
      </block>
      <block id="1070" key="f565daf8-bea6-4263-872f-7863b0c824e7" parentID="1067" level="3" creatorID="0" sortOrder="2" createDate="2017-11-15T22:55:11" updateDate="2017-11-15T22:55:11" nodeName="Footer Block" urlName="footer-block" path="-1,1062,1067,1070" isDoc="" nodeType="1066" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="block">
        <size><![CDATA[Small]]></size>
        <description><![CDATA[Footer]]></description>
      </block>
    </view>
  </site>
  <site id="1083" key="29dd46b6-63a8-4533-82e2-93b38aa7b0ca" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-12-02T14:28:09" updateDate="2017-12-05T00:03:22" nodeName="Site Nz" urlName="site-nz" path="-1,1083" isDoc="" nodeType="1061" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="site">
    <hosts><![CDATA[api.demo.nz]]></hosts>
    <cacheName><![CDATA[NZ]]></cacheName>
    <countryCode><![CDATA[NZ]]></countryCode>
    <currencyCode><![CDATA[NZD]]></currencyCode>
    <view id="1084" key="6199e336-4496-4bc5-aefe-0db1db950af6" parentID="1083" level="2" creatorID="0" sortOrder="0" createDate="2017-12-02T14:28:58" updateDate="2017-12-06T00:24:26" nodeName="Nz Product List View" urlName="nz-product-list-view" path="-1,1083,1084" isDoc="" nodeType="1064" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="view">
      <blocks><![CDATA[umb://document/10badc9c6f1c47f9bebece7a95526ff6,umb://document/283f9a8157a4471d8b2925baa7f4a57e,umb://document/d07cfb1e46e54616a305ac9acf34a4ad]]></blocks>
      <title><![CDATA[Nz Products]]></title>
      <block id="1085" key="10badc9c-6f1c-47f9-bebe-ce7a95526ff6" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2017-12-02T14:30:57" updateDate="2017-12-02T14:40:27" nodeName="Nz Menu" urlName="nz-menu" path="-1,1083,1084,1085" isDoc="" nodeType="1066" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="block">
        <size><![CDATA[Small]]></size>
        <description><![CDATA[New Zealand Menu]]></description>
        <imageList><![CDATA[[{"key":"bbe37b37-6b71-4be2-b24c-8012bbdbe953","name":"Item 1","ncContentTypeAlias":"info","caption":"Product Info Nz","label":"Product Information Nz","description":"This is a product from New Zealand"}]]]></imageList>
        <images><![CDATA[umb://media/31901c5740c04ff1985177483b3a44fa]]></images>
      </block>
      <block id="1086" key="283f9a81-57a4-471d-8b29-25baa7f4a57e" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2017-12-02T14:31:36" updateDate="2017-12-02T14:31:36" nodeName="Footer Block" urlName="footer-block" path="-1,1083,1084,1086" isDoc="" nodeType="1066" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="block">
        <size><![CDATA[Small]]></size>
        <description><![CDATA[Nz Footer]]></description>
      </block>
      <block id="1087" key="d07cfb1e-46e5-4616-a305-ac9acf34a4ad" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2017-12-02T14:33:12" updateDate="2017-12-02T14:33:12" nodeName="Content Block" urlName="content-block" path="-1,1083,1084,1087" isDoc="" nodeType="1066" creatorName="manoso" writerName="manoso" writerID="0" template="0" nodeTypeAlias="block">
        <size><![CDATA[Medium]]></size>
        <description><![CDATA[New Zealand Content]]></description>
        <imageList><![CDATA[[{"key":"d6e9f6df-38bf-475d-8414-e923c157d8a7","name":"Item 1","ncContentTypeAlias":"imageGrid","title":"Nz Product Title","backgroundColor":"green","images":"umb://media/5721a3c8395a453a8bc0baa8e5780205,umb://media/b59de8f644084d129a65496200c01219"}]]]></imageList>
        <images><![CDATA[umb://media/5721a3c8395a453a8bc0baa8e5780205]]></images>
      </block>
    </view>
  </site>
</root>