<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT site ANY>
<!ATTLIST site id ID #REQUIRED>
]>
<root id="-1">
  <site id="1062" key="f7a26462-de33-4f9e-ab23-0e20fa71b9a9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-10T00:07:05" updateDate="2017-11-10T00:07:05" nodeName="Site Au" urlName="site-au" path="-1,1062" isDoc="" nodeType="1061" creatorName="manoso" writerName="manoso" writerID="0" template="1060" nodeTypeAlias="site">
    <countryCode><![CDATA[AU]]></countryCode>
    <currencyCode><![CDATA[AUD]]></currencyCode>
  </site>
</root>